.img-gallery {
    max-width: 200px;
    margin-bottom: 15px;
}

footer {
    background-color: #3c3c3c;
    color: #FFF;
    padding: 30px;
    margin-top: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#mainContent {
    margin-bottom: 130px;
}